* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.coming-soon-container {
    width: 100vw;
    height: 100vh;
    background-image: url('images/background_coming_soon.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 1;
    transform: rotate(0deg);
    display: flex;
    justify-content: space-between;
}