* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
}

.coming-soon-container {
    height: 100vh;
    width: 100%;
    background-image: url('images/background_coming_soon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #1a1a1a;
}