option_settings:
  aws:elasticbeanstalk:application:environment:
    SERVER_PORT: "5000"
    JAVA_OPTS: "-Dserver.port=5000"
    JAVA_TOOL_OPTIONS: "-Xmx256m -Xms128m"
  aws:elasticbeanstalk:xray:
    XRayEnabled: false
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.small
    RootVolumeSize: 30
    RootVolumeType: gp3
  aws:elasticbeanstalk:environment:process:default:
    Port: "5000"
    Protocol: HTTP
    HealthCheckPath: "/health"
    HealthCheckInterval: "15"
    HealthCheckTimeout: "5"
    HealthyThresholdCount: "2"
    UnhealthyThresholdCount: "3"
    MatcherHTTPCode: "200"
